-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: genshin_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `id_admin` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `pseudo_admin` varchar(100) NOT NULL,
  `email_admin` varchar(255) NOT NULL,
  `mot_de_passe_admin` varchar(255) NOT NULL,
  `role` varchar(20) NOT NULL DEFAULT 'moderateur',
  PRIMARY KEY (`id_admin`),
  UNIQUE KEY `admin_pseudo_admin_unique` (`pseudo_admin`),
  UNIQUE KEY `admin_email_admin_unique` (`email_admin`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (1,'Admin','admin@example.com','$2b$12$JsyQfT8eLZDXs/8tGfdxdOAnCX6mDufBAv3ZnNie6HK9LoZOMnGyW','admin');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `amitie`
--

DROP TABLE IF EXISTS `amitie`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `amitie` (
  `id_amitie` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `fid_demandeur` bigint(20) unsigned NOT NULL,
  `fid_receveur` bigint(20) unsigned NOT NULL,
  `statut` varchar(20) NOT NULL DEFAULT 'en_attente',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_amitie`),
  KEY `fk_ami_demandeur` (`fid_demandeur`),
  KEY `fk_ami_receveur` (`fid_receveur`),
  CONSTRAINT `fk_ami_demandeur` FOREIGN KEY (`fid_demandeur`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_ami_receveur` FOREIGN KEY (`fid_receveur`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `amitie`
--

LOCK TABLES `amitie` WRITE;
/*!40000 ALTER TABLE `amitie` DISABLE KEYS */;
/*!40000 ALTER TABLE `amitie` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `animal_ingredient`
--

DROP TABLE IF EXISTS `animal_ingredient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `animal_ingredient` (
  `fid_animal` int(10) unsigned NOT NULL,
  `fid_ingredient` int(10) unsigned NOT NULL,
  PRIMARY KEY (`fid_animal`,`fid_ingredient`),
  KEY `fk_ai_ingre` (`fid_ingredient`),
  CONSTRAINT `fk_ai_animal` FOREIGN KEY (`fid_animal`) REFERENCES `animaux` (`id_animal`) ON DELETE CASCADE,
  CONSTRAINT `fk_ai_ingre` FOREIGN KEY (`fid_ingredient`) REFERENCES `ingr├®dient` (`id_ingredient`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `animal_ingredient`
--

LOCK TABLES `animal_ingredient` WRITE;
/*!40000 ALTER TABLE `animal_ingredient` DISABLE KEYS */;
/*!40000 ALTER TABLE `animal_ingredient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `animal_region`
--

DROP TABLE IF EXISTS `animal_region`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `animal_region` (
  `fid_animal` int(10) unsigned NOT NULL,
  `fid_region` int(10) unsigned NOT NULL,
  PRIMARY KEY (`fid_animal`,`fid_region`),
  KEY `fk_ar_nation` (`fid_region`),
  CONSTRAINT `fk_ar_animal` FOREIGN KEY (`fid_animal`) REFERENCES `animaux` (`id_animal`) ON DELETE CASCADE,
  CONSTRAINT `fk_ar_nation` FOREIGN KEY (`fid_region`) REFERENCES `nation` (`id_region`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `animal_region`
--

LOCK TABLES `animal_region` WRITE;
/*!40000 ALTER TABLE `animal_region` DISABLE KEYS */;
/*!40000 ALTER TABLE `animal_region` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `animaux`
--

DROP TABLE IF EXISTS `animaux`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `animaux` (
  `id_animal` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nom_animal` varchar(150) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `descri_animal` text DEFAULT NULL,
  `fid_TAnimal` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_animal`),
  UNIQUE KEY `animaux_slug_unique` (`slug`),
  KEY `fk_ani_type` (`fid_TAnimal`),
  CONSTRAINT `fk_ani_type` FOREIGN KEY (`fid_TAnimal`) REFERENCES `type_animal` (`id_TAnimal`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `animaux`
--

LOCK TABLES `animaux` WRITE;
/*!40000 ALTER TABLE `animaux` DISABLE KEYS */;
/*!40000 ALTER TABLE `animaux` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aptitude`
--

DROP TABLE IF EXISTS `aptitude`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aptitude` (
  `id_aptitude` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `titre_apti` varchar(200) NOT NULL,
  `descri_apti` text DEFAULT NULL,
  `lvl_apt` tinyint(4) NOT NULL DEFAULT 1,
  `sub_Apt` text DEFAULT NULL,
  `fid_TypeApti` int(10) unsigned NOT NULL,
  `fid_perso` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_aptitude`),
  KEY `fk_apti_type` (`fid_TypeApti`),
  KEY `fk_apti_perso` (`fid_perso`),
  CONSTRAINT `fk_apti_perso` FOREIGN KEY (`fid_perso`) REFERENCES `personnage` (`id_perso`) ON DELETE CASCADE,
  CONSTRAINT `fk_apti_type` FOREIGN KEY (`fid_TypeApti`) REFERENCES `type_apti` (`id_TypeApti`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aptitude`
--

LOCK TABLES `aptitude` WRITE;
/*!40000 ALTER TABLE `aptitude` DISABLE KEYS */;
/*!40000 ALTER TABLE `aptitude` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `arm_stats_niveau`
--

DROP TABLE IF EXISTS `arm_stats_niveau`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `arm_stats_niveau` (
  `id_ASN` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `lvl_ASN` tinyint(4) NOT NULL,
  `main_stat` double DEFAULT NULL,
  `subs_stats` double DEFAULT NULL,
  `fid_arme` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_ASN`),
  UNIQUE KEY `uk_asn_arme` (`lvl_ASN`,`fid_arme`),
  KEY `fk_asn_arme` (`fid_arme`),
  CONSTRAINT `fk_asn_arme` FOREIGN KEY (`fid_arme`) REFERENCES `armes` (`id_arme`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `arm_stats_niveau`
--

LOCK TABLES `arm_stats_niveau` WRITE;
/*!40000 ALTER TABLE `arm_stats_niveau` DISABLE KEYS */;
/*!40000 ALTER TABLE `arm_stats_niveau` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `arm_stats_rang`
--

DROP TABLE IF EXISTS `arm_stats_rang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `arm_stats_rang` (
  `id_ASR` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `rang_ASR` tinyint(4) NOT NULL,
  `descri_ASR` text DEFAULT NULL,
  `fid_arme` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_ASR`),
  UNIQUE KEY `uk_asr_arme` (`rang_ASR`,`fid_arme`),
  KEY `fk_asr_arme` (`fid_arme`),
  CONSTRAINT `fk_asr_arme` FOREIGN KEY (`fid_arme`) REFERENCES `armes` (`id_arme`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `arm_stats_rang`
--

LOCK TABLES `arm_stats_rang` WRITE;
/*!40000 ALTER TABLE `arm_stats_rang` DISABLE KEYS */;
/*!40000 ALTER TABLE `arm_stats_rang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `armes`
--

DROP TABLE IF EXISTS `armes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `armes` (
  `id_arme` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nom_arme` varchar(150) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `descr_arme` text DEFAULT NULL,
  `nom_competence` varchar(200) DEFAULT NULL,
  `main_stat_type` varchar(100) DEFAULT NULL,
  `sub_stat_type` varchar(100) DEFAULT NULL,
  `fid_TArmes` int(10) unsigned NOT NULL,
  `fid_etoile` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_arme`),
  UNIQUE KEY `armes_slug_unique` (`slug`),
  KEY `fk_arme_type` (`fid_TArmes`),
  KEY `fk_arme_etoile` (`fid_etoile`),
  CONSTRAINT `fk_arme_etoile` FOREIGN KEY (`fid_etoile`) REFERENCES `etoile` (`id_etoile`),
  CONSTRAINT `fk_arme_type` FOREIGN KEY (`fid_TArmes`) REFERENCES `type_armes` (`id_TArmes`)
) ENGINE=InnoDB AUTO_INCREMENT=263 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `armes`
--

LOCK TABLES `armes` WRITE;
/*!40000 ALTER TABLE `armes` DISABLE KEYS */;
/*!40000 ALTER TABLE `armes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bio`
--

DROP TABLE IF EXISTS `bio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bio` (
  `id_bio` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `titre_bio` varchar(200) DEFAULT NULL,
  `descri_bio` text DEFAULT NULL,
  `fid_perso` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_bio`),
  UNIQUE KEY `uk_bio_perso` (`fid_perso`),
  CONSTRAINT `fk_bio_perso` FOREIGN KEY (`fid_perso`) REFERENCES `personnage` (`id_perso`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bio`
--

LOCK TABLES `bio` WRITE;
/*!40000 ALTER TABLE `bio` DISABLE KEYS */;
/*!40000 ALTER TABLE `bio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
INSERT INTO `cache` VALUES ('laravel-cache-test@example.com|127.0.0.1','i:1;',1774188026),('laravel-cache-test@example.com|127.0.0.1:timer','i:1774188026;',1774188026);
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chronologie`
--

DROP TABLE IF EXISTS `chronologie`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chronologie` (
  `id_chrono` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `titre` varchar(200) NOT NULL,
  `resume` text DEFAULT NULL,
  `periode` varchar(100) DEFAULT NULL,
  `ordre` int(11) NOT NULL DEFAULT 0,
  `fid_region` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_chrono`),
  KEY `fk_chrono_nation` (`fid_region`),
  CONSTRAINT `fk_chrono_nation` FOREIGN KEY (`fid_region`) REFERENCES `nation` (`id_region`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chronologie`
--

LOCK TABLES `chronologie` WRITE;
/*!40000 ALTER TABLE `chronologie` DISABLE KEYS */;
/*!40000 ALTER TABLE `chronologie` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `constellation`
--

DROP TABLE IF EXISTS `constellation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `constellation` (
  `id_const` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `titre_const` varchar(200) NOT NULL,
  `descri_const` text DEFAULT NULL,
  `fid_perso` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_const`),
  KEY `fk_const_perso` (`fid_perso`),
  CONSTRAINT `fk_const_perso` FOREIGN KEY (`fid_perso`) REFERENCES `personnage` (`id_perso`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `constellation`
--

LOCK TABLES `constellation` WRITE;
/*!40000 ALTER TABLE `constellation` DISABLE KEYS */;
/*!40000 ALTER TABLE `constellation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `elements`
--

DROP TABLE IF EXISTS `elements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `elements` (
  `id_element` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `libelle_element` varchar(30) NOT NULL,
  PRIMARY KEY (`id_element`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `elements`
--

LOCK TABLES `elements` WRITE;
/*!40000 ALTER TABLE `elements` DISABLE KEYS */;
INSERT INTO `elements` VALUES (1,'Anemo'),(2,'Geo'),(3,'Electro'),(4,'Dendro'),(5,'Hydro'),(6,'Pyro'),(7,'Cryo');
/*!40000 ALTER TABLE `elements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ennemi`
--

DROP TABLE IF EXISTS `ennemi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ennemi` (
  `id_ennemi` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nom_ennemi` varchar(150) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `descri_enn` text DEFAULT NULL,
  `fid_typeEnne` int(10) unsigned NOT NULL,
  `fid_element` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`id_ennemi`),
  UNIQUE KEY `ennemi_slug_unique` (`slug`),
  KEY `fk_enn_type` (`fid_typeEnne`),
  KEY `fk_enn_element` (`fid_element`),
  CONSTRAINT `fk_enn_element` FOREIGN KEY (`fid_element`) REFERENCES `elements` (`id_element`),
  CONSTRAINT `fk_enn_type` FOREIGN KEY (`fid_typeEnne`) REFERENCES `type_ennemi` (`id_typeEnnemi`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ennemi`
--

LOCK TABLES `ennemi` WRITE;
/*!40000 ALTER TABLE `ennemi` DISABLE KEYS */;
/*!40000 ALTER TABLE `ennemi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ennemi_region`
--

DROP TABLE IF EXISTS `ennemi_region`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ennemi_region` (
  `fid_ennemi` int(10) unsigned NOT NULL,
  `fid_region` int(10) unsigned NOT NULL,
  PRIMARY KEY (`fid_ennemi`,`fid_region`),
  KEY `fk_er_nation` (`fid_region`),
  CONSTRAINT `fk_er_ennemi` FOREIGN KEY (`fid_ennemi`) REFERENCES `ennemi` (`id_ennemi`) ON DELETE CASCADE,
  CONSTRAINT `fk_er_nation` FOREIGN KEY (`fid_region`) REFERENCES `nation` (`id_region`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ennemi_region`
--

LOCK TABLES `ennemi_region` WRITE;
/*!40000 ALTER TABLE `ennemi_region` DISABLE KEYS */;
/*!40000 ALTER TABLE `ennemi_region` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etoile`
--

DROP TABLE IF EXISTS `etoile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `etoile` (
  `id_etoile` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `libelle` varchar(20) NOT NULL,
  PRIMARY KEY (`id_etoile`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etoile`
--

LOCK TABLES `etoile` WRITE;
/*!40000 ALTER TABLE `etoile` DISABLE KEYS */;
INSERT INTO `etoile` VALUES (1,'1 etoiles'),(2,'2 etoiles'),(3,'3 etoiles'),(4,'4 etoiles'),(5,'5 etoiles'),(6,'0Ôÿà'),(7,'5Ôÿà'),(8,'4Ôÿà'),(9,'3Ôÿà'),(10,'2Ôÿà'),(11,'1Ôÿà');
/*!40000 ALTER TABLE `etoile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evenement`
--

DROP TABLE IF EXISTS `evenement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evenement` (
  `id_evenement` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `titre` varchar(100) NOT NULL,
  `descri_courte` varchar(150) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `date_debut` date NOT NULL,
  `date_fin` date NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id_evenement`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evenement`
--

LOCK TABLES `evenement` WRITE;
/*!40000 ALTER TABLE `evenement` DISABLE KEYS */;
/*!40000 ALTER TABLE `evenement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ingr├®dient`
--

DROP TABLE IF EXISTS `ingr├®dient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ingr├®dient` (
  `id_ingredient` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nom_ingre` varchar(150) NOT NULL,
  `slug` varchar(100) NOT NULL,
  PRIMARY KEY (`id_ingredient`),
  UNIQUE KEY `ingr├®dient_slug_unique` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingr├®dient`
--

LOCK TABLES `ingr├®dient` WRITE;
/*!40000 ALTER TABLE `ingr├®dient` DISABLE KEYS */;
/*!40000 ALTER TABLE `ingr├®dient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_reserved_at_available_at_index` (`queue`,`reserved_at`,`available_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `joueur_arme`
--

DROP TABLE IF EXISTS `joueur_arme`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `joueur_arme` (
  `fid_joueur` bigint(20) unsigned NOT NULL,
  `fid_arme` int(10) unsigned NOT NULL,
  `niveau` tinyint(4) NOT NULL DEFAULT 1,
  `rang` tinyint(4) NOT NULL DEFAULT 1,
  PRIMARY KEY (`fid_joueur`,`fid_arme`),
  KEY `fk_ja_arme` (`fid_arme`),
  CONSTRAINT `fk_ja_arme` FOREIGN KEY (`fid_arme`) REFERENCES `armes` (`id_arme`) ON DELETE CASCADE,
  CONSTRAINT `fk_ja_joueur` FOREIGN KEY (`fid_joueur`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `joueur_arme`
--

LOCK TABLES `joueur_arme` WRITE;
/*!40000 ALTER TABLE `joueur_arme` DISABLE KEYS */;
/*!40000 ALTER TABLE `joueur_arme` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `joueur_constellation`
--

DROP TABLE IF EXISTS `joueur_constellation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `joueur_constellation` (
  `fid_joueur` bigint(20) unsigned NOT NULL,
  `fid_perso` int(10) unsigned NOT NULL,
  `fid_constellation` int(10) unsigned NOT NULL,
  `debloquee` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`fid_joueur`,`fid_perso`,`fid_constellation`),
  KEY `fk_jc_perso` (`fid_perso`),
  KEY `fk_jc_const` (`fid_constellation`),
  CONSTRAINT `fk_jc_const` FOREIGN KEY (`fid_constellation`) REFERENCES `constellation` (`id_const`) ON DELETE CASCADE,
  CONSTRAINT `fk_jc_joueur` FOREIGN KEY (`fid_joueur`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_jc_perso` FOREIGN KEY (`fid_perso`) REFERENCES `personnage` (`id_perso`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `joueur_constellation`
--

LOCK TABLES `joueur_constellation` WRITE;
/*!40000 ALTER TABLE `joueur_constellation` DISABLE KEYS */;
/*!40000 ALTER TABLE `joueur_constellation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `joueur_personnage`
--

DROP TABLE IF EXISTS `joueur_personnage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `joueur_personnage` (
  `fid_joueur` bigint(20) unsigned NOT NULL,
  `fid_perso` int(10) unsigned NOT NULL,
  `niveau` tinyint(4) NOT NULL DEFAULT 1,
  `affinite` tinyint(4) NOT NULL DEFAULT 0,
  `perso_amelioration` tinyint(1) NOT NULL DEFAULT 0,
  `fid_joueur_arme_joueur` bigint(20) unsigned DEFAULT NULL,
  `fid_joueur_arme_arme` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`fid_joueur`,`fid_perso`),
  KEY `fk_jp_perso` (`fid_perso`),
  CONSTRAINT `fk_jp_joueur` FOREIGN KEY (`fid_joueur`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_jp_perso` FOREIGN KEY (`fid_perso`) REFERENCES `personnage` (`id_perso`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `joueur_personnage`
--

LOCK TABLES `joueur_personnage` WRITE;
/*!40000 ALTER TABLE `joueur_personnage` DISABLE KEYS */;
/*!40000 ALTER TABLE `joueur_personnage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mate_ennemi`
--

DROP TABLE IF EXISTS `mate_ennemi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mate_ennemi` (
  `fid_materiaux` int(10) unsigned NOT NULL,
  `fid_ennemi` int(10) unsigned NOT NULL,
  PRIMARY KEY (`fid_materiaux`,`fid_ennemi`),
  KEY `fk_me_ennemi` (`fid_ennemi`),
  CONSTRAINT `fk_me_ennemi` FOREIGN KEY (`fid_ennemi`) REFERENCES `ennemi` (`id_ennemi`) ON DELETE CASCADE,
  CONSTRAINT `fk_me_mat` FOREIGN KEY (`fid_materiaux`) REFERENCES `materiaux` (`id_materiaux`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mate_ennemi`
--

LOCK TABLES `mate_ennemi` WRITE;
/*!40000 ALTER TABLE `mate_ennemi` DISABLE KEYS */;
/*!40000 ALTER TABLE `mate_ennemi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materiaux`
--

DROP TABLE IF EXISTS `materiaux`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materiaux` (
  `id_materiaux` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nom_mat` varchar(150) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `descri_mat` text DEFAULT NULL,
  `fid_typeM` int(10) unsigned NOT NULL,
  `fid_raret├®` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_materiaux`),
  UNIQUE KEY `materiaux_slug_unique` (`slug`),
  KEY `fk_mat_type` (`fid_typeM`),
  KEY `fk_mat_rarete` (`fid_raret├®`),
  CONSTRAINT `fk_mat_rarete` FOREIGN KEY (`fid_raret├®`) REFERENCES `raret├®` (`id_raret├®`),
  CONSTRAINT `fk_mat_type` FOREIGN KEY (`fid_typeM`) REFERENCES `type_materiaux` (`id_typeM`)
) ENGINE=InnoDB AUTO_INCREMENT=311 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materiaux`
--

LOCK TABLES `materiaux` WRITE;
/*!40000 ALTER TABLE `materiaux` DISABLE KEYS */;
/*!40000 ALTER TABLE `materiaux` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `motus_score`
--

DROP TABLE IF EXISTS `motus_score`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `motus_score` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `fid_joueur` bigint(20) unsigned NOT NULL,
  `date_partie` date NOT NULL,
  `mot` varchar(150) NOT NULL,
  `nb_essais` tinyint(4) DEFAULT NULL,
  `gagne` tinyint(1) NOT NULL DEFAULT 0,
  `mode` enum('journalier','libre') NOT NULL DEFAULT 'journalier',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_motus_joueur_date` (`fid_joueur`,`date_partie`,`mode`),
  CONSTRAINT `motus_score_ibfk_1` FOREIGN KEY (`fid_joueur`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `motus_score`
--

LOCK TABLES `motus_score` WRITE;
/*!40000 ALTER TABLE `motus_score` DISABLE KEYS */;
/*!40000 ALTER TABLE `motus_score` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nation`
--

DROP TABLE IF EXISTS `nation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nation` (
  `id_region` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nom_region` varchar(100) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `descri_region` text DEFAULT NULL,
  PRIMARY KEY (`id_region`),
  UNIQUE KEY `nation_slug_unique` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nation`
--

LOCK TABLES `nation` WRITE;
/*!40000 ALTER TABLE `nation` DISABLE KEYS */;
INSERT INTO `nation` VALUES (1,'Lang-Gan','lang-gan',NULL),(2,'Hyperborea','hyperborea',NULL),(3,'Byakuyakoku','byakuyakoku',NULL),(4,'Sal Vindagnyr','sal-vindagnyr',NULL),(5,'Remuria','remuria',NULL),(6,'Khaenri\'ah','khaenri-ah',NULL),(7,'Natlan','natlan',NULL),(8,'Fontaine','fontaine',NULL),(9,'Sumeru','sumeru',NULL),(10,'Inazuma','inazuma',NULL),(11,'Liyue','liyue',NULL),(12,'Mondstadt','mondstadt',NULL);
/*!40000 ALTER TABLE `nation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personnage`
--

DROP TABLE IF EXISTS `personnage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personnage` (
  `id_perso` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nom_perso` varchar(100) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `affinite_perso` varchar(50) DEFAULT NULL,
  `fid_TP` int(10) unsigned NOT NULL,
  `fid_etoile` int(10) unsigned NOT NULL,
  `fid_element` int(10) unsigned NOT NULL,
  `fid_TArmes` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_perso`),
  UNIQUE KEY `personnage_slug_unique` (`slug`),
  KEY `fk_perso_type` (`fid_TP`),
  KEY `fk_perso_etoile` (`fid_etoile`),
  KEY `fk_perso_element` (`fid_element`),
  KEY `fk_perso_tarmes` (`fid_TArmes`),
  CONSTRAINT `fk_perso_element` FOREIGN KEY (`fid_element`) REFERENCES `elements` (`id_element`),
  CONSTRAINT `fk_perso_etoile` FOREIGN KEY (`fid_etoile`) REFERENCES `etoile` (`id_etoile`),
  CONSTRAINT `fk_perso_tarmes` FOREIGN KEY (`fid_TArmes`) REFERENCES `type_armes` (`id_TArmes`),
  CONSTRAINT `fk_perso_type` FOREIGN KEY (`fid_TP`) REFERENCES `type_perso` (`id_TP`)
) ENGINE=InnoDB AUTO_INCREMENT=122 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personnage`
--

LOCK TABLES `personnage` WRITE;
/*!40000 ALTER TABLE `personnage` DISABLE KEYS */;
/*!40000 ALTER TABLE `personnage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personnage_a_monter`
--

DROP TABLE IF EXISTS `personnage_a_monter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personnage_a_monter` (
  `fid_joueur` bigint(20) unsigned NOT NULL,
  `fid_perso` int(10) unsigned NOT NULL,
  `fid_materiaux` int(10) unsigned NOT NULL,
  `quantite` int(10) unsigned NOT NULL DEFAULT 0,
  `type` enum('niveau','competence') NOT NULL,
  PRIMARY KEY (`fid_joueur`,`fid_perso`,`fid_materiaux`,`type`),
  KEY `fid_materiaux` (`fid_materiaux`),
  CONSTRAINT `personnage_a_monter_ibfk_1` FOREIGN KEY (`fid_joueur`, `fid_perso`) REFERENCES `joueur_personnage` (`fid_joueur`, `fid_perso`) ON DELETE CASCADE,
  CONSTRAINT `personnage_a_monter_ibfk_2` FOREIGN KEY (`fid_materiaux`) REFERENCES `materiaux` (`id_materiaux`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personnage_a_monter`
--

LOCK TABLES `personnage_a_monter` WRITE;
/*!40000 ALTER TABLE `personnage_a_monter` DISABLE KEYS */;
/*!40000 ALTER TABLE `personnage_a_monter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personnage_role`
--

DROP TABLE IF EXISTS `personnage_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personnage_role` (
  `fid_perso` int(10) unsigned NOT NULL,
  `fid_role` int(10) unsigned NOT NULL,
  PRIMARY KEY (`fid_perso`,`fid_role`),
  KEY `fk_pr_role` (`fid_role`),
  CONSTRAINT `fk_pr_perso` FOREIGN KEY (`fid_perso`) REFERENCES `personnage` (`id_perso`) ON DELETE CASCADE,
  CONSTRAINT `fk_pr_role` FOREIGN KEY (`fid_role`) REFERENCES `role` (`id_role`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personnage_role`
--

LOCK TABLES `personnage_role` WRITE;
/*!40000 ALTER TABLE `personnage_role` DISABLE KEYS */;
/*!40000 ALTER TABLE `personnage_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `photo`
--

DROP TABLE IF EXISTS `photo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `photo` (
  `id_photo` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `chemin_photo` varchar(255) NOT NULL,
  `photoable_type` varchar(100) NOT NULL,
  `photoable_id` int(10) unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `source_url` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`id_photo`),
  KEY `idx_photoable` (`photoable_type`,`photoable_id`)
) ENGINE=InnoDB AUTO_INCREMENT=589 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `photo`
--

LOCK TABLES `photo` WRITE;
/*!40000 ALTER TABLE `photo` DISABLE KEYS */;
/*!40000 ALTER TABLE `photo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plat`
--

DROP TABLE IF EXISTS `plat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `plat` (
  `id_plat` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nom_plat` varchar(150) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `descri_plat` text DEFAULT NULL,
  `fid_raret├®` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_plat`),
  UNIQUE KEY `plat_slug_unique` (`slug`),
  KEY `fk_plat_rarete` (`fid_raret├®`),
  CONSTRAINT `fk_plat_rarete` FOREIGN KEY (`fid_raret├®`) REFERENCES `raret├®` (`id_raret├®`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plat`
--

LOCK TABLES `plat` WRITE;
/*!40000 ALTER TABLE `plat` DISABLE KEYS */;
/*!40000 ALTER TABLE `plat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plat_ingredient`
--

DROP TABLE IF EXISTS `plat_ingredient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `plat_ingredient` (
  `fid_plat` int(10) unsigned NOT NULL,
  `fid_ingredient` int(10) unsigned NOT NULL,
  `quantite` tinyint(4) NOT NULL DEFAULT 1,
  PRIMARY KEY (`fid_plat`,`fid_ingredient`),
  KEY `fk_pi_ingre` (`fid_ingredient`),
  CONSTRAINT `fk_pi_ingre` FOREIGN KEY (`fid_ingredient`) REFERENCES `ingr├®dient` (`id_ingredient`) ON DELETE CASCADE,
  CONSTRAINT `fk_pi_plat` FOREIGN KEY (`fid_plat`) REFERENCES `plat` (`id_plat`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plat_ingredient`
--

LOCK TABLES `plat_ingredient` WRITE;
/*!40000 ALTER TABLE `plat_ingredient` DISABLE KEYS */;
/*!40000 ALTER TABLE `plat_ingredient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `post`
--

DROP TABLE IF EXISTS `post`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `post` (
  `id_post` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `titre_post` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `corps_post` longtext NOT NULL,
  `image_cover` varchar(255) DEFAULT NULL,
  `statut` enum('brouillon','publi├®') NOT NULL DEFAULT 'brouillon',
  `fid_admin` int(10) unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_post`),
  UNIQUE KEY `post_slug_unique` (`slug`),
  KEY `fk_post_admin` (`fid_admin`),
  CONSTRAINT `fk_post_admin` FOREIGN KEY (`fid_admin`) REFERENCES `admin` (`id_admin`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `post`
--

LOCK TABLES `post` WRITE;
/*!40000 ALTER TABLE `post` DISABLE KEYS */;
/*!40000 ALTER TABLE `post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produits`
--

DROP TABLE IF EXISTS `produits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produits` (
  `id_produit` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `libelle_produit` varchar(150) NOT NULL,
  `descri_produit` text DEFAULT NULL,
  `fid_region` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_produit`),
  KEY `fk_prod_nation` (`fid_region`),
  CONSTRAINT `fk_prod_nation` FOREIGN KEY (`fid_region`) REFERENCES `nation` (`id_region`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;


--
-- Dumping data for table `produits`
--

LOCK TABLES `produits` WRITE;
/*!40000 ALTER TABLE `produits` DISABLE KEYS */;
/*!40000 ALTER TABLE `produits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `raret├®`
--

DROP TABLE IF EXISTS `raret├®`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `raret├®` (
  `id_raret├®` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `libelle_raret├®` varchar(30) NOT NULL,
  PRIMARY KEY (`id_raret├®`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `raret├®`
--

LOCK TABLES `raret├®` WRITE;
/*!40000 ALTER TABLE `raret├®` DISABLE KEYS */;
INSERT INTO `raret├®` VALUES (1,'1 etoiles'),(2,'2 etoiles'),(3,'3 etoiles'),(4,'4 etoiles'),(5,'5 etoiles');
/*!40000 ALTER TABLE `raret├®` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role` (
  `id_role` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `libelle_role` varchar(50) NOT NULL,
  `descri_role` text DEFAULT NULL,
  PRIMARY KEY (`id_role`),
  UNIQUE KEY `role_libelle_unique` (`libelle_role`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sous_region`
--

DROP TABLE IF EXISTS `sous_region`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sous_region` (
  `id_sous_region` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nom_sous_region` varchar(150) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `fid_region` int(10) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_sous_region`),
  UNIQUE KEY `sous_region_slug_unique` (`slug`),
  KEY `fk_sr_nation` (`fid_region`),
  CONSTRAINT `fk_sr_nation` FOREIGN KEY (`fid_region`) REFERENCES `nation` (`id_region`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sous_region`
--

LOCK TABLES `sous_region` WRITE;
/*!40000 ALTER TABLE `sous_region` DISABLE KEYS */;
/*!40000 ALTER TABLE `sous_region` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sp├®cialit├®`
--

DROP TABLE IF EXISTS `sp├®cialit├®`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sp├®cialit├®` (
  `id_specialite` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `libelle_spe` varchar(150) DEFAULT NULL,
  `descri_spe` text DEFAULT NULL,
  `fid_plat` int(10) unsigned NOT NULL,
  `fid_perso` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_specialite`),
  UNIQUE KEY `uk_spe_plat` (`fid_plat`),
  KEY `fk_spe_perso` (`fid_perso`),
  CONSTRAINT `fk_spe_perso` FOREIGN KEY (`fid_perso`) REFERENCES `personnage` (`id_perso`) ON DELETE CASCADE,
  CONSTRAINT `fk_spe_plat` FOREIGN KEY (`fid_plat`) REFERENCES `plat` (`id_plat`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sp├®cialit├®`
--

LOCK TABLES `sp├®cialit├®` WRITE;
/*!40000 ALTER TABLE `sp├®cialit├®` DISABLE KEYS */;
/*!40000 ALTER TABLE `sp├®cialit├®` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_animal`
--

DROP TABLE IF EXISTS `type_animal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `type_animal` (
  `id_TAnimal` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `libelle_TAnimal` varchar(50) NOT NULL,
  PRIMARY KEY (`id_TAnimal`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_animal`
--

LOCK TABLES `type_animal` WRITE;
/*!40000 ALTER TABLE `type_animal` DISABLE KEYS */;
/*!40000 ALTER TABLE `type_animal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_apti`
--

DROP TABLE IF EXISTS `type_apti`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `type_apti` (
  `id_TypeApti` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `libelle_Apti` varchar(50) NOT NULL,
  PRIMARY KEY (`id_TypeApti`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_apti`
--

LOCK TABLES `type_apti` WRITE;
/*!40000 ALTER TABLE `type_apti` DISABLE KEYS */;
/*!40000 ALTER TABLE `type_apti` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_armes`
--

DROP TABLE IF EXISTS `type_armes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `type_armes` (
  `id_TArmes` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `libelle_TArme` varchar(50) NOT NULL,
  PRIMARY KEY (`id_TArmes`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_armes`
--

LOCK TABLES `type_armes` WRITE;
/*!40000 ALTER TABLE `type_armes` DISABLE KEYS */;
INSERT INTO `type_armes` VALUES (1,'Sword'),(2,'Claymore'),(3,'Polearm'),(4,'Bow'),(5,'Catalyst');
/*!40000 ALTER TABLE `type_armes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_ennemi`
--

DROP TABLE IF EXISTS `type_ennemi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `type_ennemi` (
  `id_typeEnnemi` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `libelle_Type` varchar(50) NOT NULL,
  PRIMARY KEY (`id_typeEnnemi`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_ennemi`
--

LOCK TABLES `type_ennemi` WRITE;
/*!40000 ALTER TABLE `type_ennemi` DISABLE KEYS */;
/*!40000 ALTER TABLE `type_ennemi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_materiaux`
--

DROP TABLE IF EXISTS `type_materiaux`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `type_materiaux` (
  `id_typeM` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `libelle_TypeM` varchar(50) NOT NULL,
  PRIMARY KEY (`id_typeM`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_materiaux`
--

LOCK TABLES `type_materiaux` WRITE;
/*!40000 ALTER TABLE `type_materiaux` DISABLE KEYS */;
INSERT INTO `type_materiaux` VALUES (1,'boss-material'),(2,'character-experience'),(3,'cooking-ingredients'),(4,'local-specialties'),(5,'talent-boss'),(6,'weapon-experience');
/*!40000 ALTER TABLE `type_materiaux` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_perso`
--

DROP TABLE IF EXISTS `type_perso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `type_perso` (
  `id_TP` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `libelle_TP` varchar(50) NOT NULL,
  PRIMARY KEY (`id_TP`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_perso`
--

LOCK TABLES `type_perso` WRITE;
/*!40000 ALTER TABLE `type_perso` DISABLE KEYS */;
INSERT INTO `type_perso` VALUES (1,'jouable'),(2,'Personnage jouable');
/*!40000 ALTER TABLE `type_perso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `pseudo` varchar(100) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `oauth_provider` enum('discord') DEFAULT NULL,
  `oauth_id` varchar(100) DEFAULT NULL,
  `avatar` varchar(255) DEFAULT NULL,
  `banniere` varchar(255) DEFAULT NULL,
  `bio_joueur` text DEFAULT NULL,
  `uid_genshin` varchar(20) DEFAULT NULL,
  `date_inscription` datetime NOT NULL DEFAULT current_timestamp(),
  `derniere_connexion` datetime DEFAULT NULL,
  `banni_le` datetime DEFAULT NULL,
  `motif_ban` text DEFAULT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  UNIQUE KEY `users_pseudo_unique` (`pseudo`),
  UNIQUE KEY `users_uid_genshin_unique` (`uid_genshin`),
  UNIQUE KEY `uq_oauth` (`oauth_provider`,`oauth_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Test User','test','test@example.com',NULL,NULL,NULL,NULL,NULL,NULL,'2026-03-22 14:48:46',NULL,NULL,NULL,NULL,'$2b$12$Zes6aSEatR065LaNPI0LyOmyricDb7i0PEQlyhe0zyVuA7VGon0pC',NULL,'2026-03-22 13:48:46','2026-03-22 13:48:46');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'genshin_db'
--

--
-- Dumping routines for database 'genshin_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-23 16:19:46
